<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean class="com.yash.itempurchasedbycustomer.Category"
		id="category">
		<property name="categoryName" value="Mobile Phones"></property>
	</bean>
	<bean class="com.yash.itempurchasedbycustomer.Item" id="item1">
		<property name="itemName" value="IPhone X"></property>
		<property name="itemDescription"
			value="iphone 6GB 124GB Black Color"></property>
		<property name="itemPrice" value="30000"></property>
		<property name="category" ref="category"></property>
	</bean>
	<bean class="com.yash.itempurchasedbycustomer.Item" id="item2">
		<property name="itemName" value="Redmi Note11"></property>
		<property name="itemDescription"
			value="Redmi note 11 4GB 64GB Blue Color"></property>
		<property name="itemPrice" value="15000"></property>
		<property name="category" ref="category"></property>
	</bean>
	<bean class="com.yash.itempurchasedbycustomer.Item" id="item3">
		<property name="itemName" value="Samsung Galaxy"></property>
		<property name="itemDescription"
			value="samsung Galaxy f6 6GB 64GB Silver Color"></property>
		<property name="itemPrice" value="20000"></property>
		<property name="category" ref="category"></property>
	</bean>
	<bean class="com.yash.itempurchasedbycustomer.Customer"
		id="customer">
		<property name="customerName" value="Gurvinder"></property>
		<property name="purchasedItem">
			<list>
				<ref bean="item1" />
				<ref bean="item3" />
			</list>
		</property>
	</bean>

</beans>